<div class="tab-pane" id="badges">
  <div class='row'>
    <div class="col-md-4 badge-thingie blurred">
      <div class='badge-inside'>
        <%= image_tag "badges/01.png", height: 48%>
        <p class='badge-title'>Going Social</p>
        <p>Shared ICPA on Facebook</p>
      </div>
    </div>
    <div class="col-md-4 badge-thingie blurred">
      <div class='badge-inside'>
        <%= image_tag "badges/02.png", height: 48%>
        <p class='badge-title'>Going Social, Ulit</p>
        <p>Invited friend to ICPA</p>
      </div>
    </div>
    <div class="col-md-4 badge-thingie blurred">
      <div class='badge-inside'>
        <%= image_tag "badges/03.png", height: 48%>
        <p class='badge-title'>Twitter Pag May Time</p>
        <p>Followed ICPA Twitter</p>
      </div>
    </div>
    <div class="col-md-4 badge-thingie">
      <div class='badge-inside'>
        <%= image_tag "badges/04.png", height: 48%>
        <p class='badge-title'>5 Day Streak</p>
        <p>5 Days Consecutive</p>
      </div>
    </div>
    <div class="col-md-4 badge-thingie">
      <div class='badge-inside'>
        <%= image_tag "badges/05.png", height: 48%>
        <p class='badge-title'>10 Day Streak</p>
        <p>5 Days Consecutive</p>
      </div>
    </div>
    <div class="col-md-4 badge-thingie">
      <div class='badge-inside'>
        <%= image_tag "badges/06.png", height: 48%>
        <p class='badge-title'>1 Month Baby</p>
        <p>28 Days Consecutive</p>
      </div>
    </div>
    <div class="col-md-4 badge-thingie">
      <div class='badge-inside'>
        <%= image_tag "badges/07.png", height: 48%>
        <p class='badge-title'>5 Day Streak</p>
        <p>5 Days Consecutive</p>
      </div>
    </div>
    <div class="col-md-4 badge-thingie">
      <div class='badge-inside'>
        <%= image_tag "badges/08.png", height: 48%>
        <p class='badge-title'>10 Day Streak</p>
        <p>5 Days Consecutive</p>
      </div>
    </div>
    <div class="col-md-4 badge-thingie">
      <div class='badge-inside'>
        <%= image_tag "badges/09.png", height: 48%>
        <p class='badge-title'>1 Month Baby</p>
        <p>28 Days Consecutive</p>
      </div>
    </div>
  </div>
</div>