<footer class="navbar navbar-default">
    <ul class="nav navbar-nav">
      <li><%= link_to 'iCPA', '#' %> </li>
      <%#*<li><%= link_to 'Developer API', '#' %></li>
      <%#*<li><%= link_to 'Be a Partner School or Company', '#' %></li>
      <%#*<li><%= link_to 'Android App', '#' %></li>

    </ul>
    <ul class="nav navbar-nav pull-right bottomer">
      <li><%= link_to '2013 by Quizmaster', '#' %></li>

    </ul>

</footer>