<div class="index-sign-up-form">
  <h3 class="heading">iCPA is a free online reviewer so you can pass the CPA exam.</h3>
<%#*<h2>Get Started:</h2>%>
  <% form_tag '/', :class => 'signup-form', :method => 'post' do %>
    <div class="form-group" style="margin-bottom: 8px;">
      <%= text_field_tag :firstname, :class => 'form-control index-sign-up-form-two-column', :placeholder => 'First Name' %>
      <%= text_field_tag :lastname, :class => 'form-control index-sign-up-form-two-column', :placeholder => 'Last Name' %>
    </div>
    <div class="form-group">
      <%= text_field_tag :school, :class => 'form-control', :placeholder => 'School' %>
    </div>
    <div class="form-group">
      <%= text_field_tag :username, :class => 'form-control', :placeholder => 'Username' %>
    </div>
    <div class="form-group">
      <%= text_field_tag :email_address, :class => 'form-control', :placeholder => 'Email' %>
    </div>
    <div class="form-group">
      <%= password_field_tag :password, :class => 'form-control', :placeholder => 'Password'%>
    </div>
    <div class="form-group">
      <%= password_field_tag :confirm_password, :class => 'form-control', :placeholder => 'Repeat Password'%>
    </div>
    <%= link_to 'Sign Up', '/sign_up.html', :class => 'btn btn-primary btn-lg' %>
    or <%= link_to 'Sign Up With Facebook', '/sign_up.html', :class => 'btn btn-primary btn-lg' %>
  <% end %>
</div>