---
title: Dashboard New User
---
<div class="urgent-message">
  <div class="container">
    <button type="button" class="close" data-dismiss="alert"><i class="icon-remove"></i></button>
    <strong><i class="icon-remove"></i>Hello!</strong>
    You can get the Facebook badge if you share ICPA on Facebook. Salamat! :)
    <%= link_to 'Share on Facebook', "https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Ficpa.ph", target: "_blank" %>
  </div>
</div>


<div class="container">


  <div class="row">
    <div class="alert alert-danger">
      <button type="button" class="close" data-dismiss="alert"><i class="icon-remove"></i></button>
      <strong><i class="icon-remove"></i>Please confirm your email.</strong>
      We've sent an email to jenna.lee@yahoo.com.
      <%= link_to 'Instructions to confirm for Yahoo.', '#'  %>
    </div>
    <div class="col-md-2 text-center">
      <%= image_tag "owly.png", class: "img-circle", height: "90px", width: "90px" %>
      </div>
      <div class="col-md-10 contact-details">
        <h3 style="margin-top: 0">Taong Bago</h3>
        <p><span class="university">4th Year, Ateneo de Naga University</span>
          <span data-toggle="tooltip" title="MObile number" class="tippable inline">
            <%= link_to 'Mobile Number', '#' %>
          </span>
          <span>
            jenna.lee@yahoo.com
          </span>
        </p>
        <p data-toggle="tooltip" title="Complete your profile to get the Completed badge!" class="tippable inline">
          <%= link_to 'Profile: 33% Complete', '#' %>
        </p>
        <p data-toggle="tooltip" title="Connect with FB chos" class="tippable">
          <%= link_to 'Facebook: Not Yet Linked', '#' %>
        </p>
        <p data-toggle="tooltip" title="LinkedIn is a social network for adults" class="tippable">
          <%= link_to 'LinkedIn: Not Yet Linked', '#' %>
        </p>
      </div>

    </div>
    <div class="row">
      <div class="tabbable tabs-left">
        <ul class="nav nav-tabs col-md-2">
          <li><a href="#dashboard-scores" data-toggle="tab"><i class="fa icon-fixed-width fa-smile-o"></i> Scores</a></li>
          <li><a href="#dashboard-per-topic" data-toggle="tab"><i class="fa icon-fixed-width fa-bullseye"></i> Per Topic</a></li>
          <li class='active'><a href="#c" data-toggle="tab"><i class="fa icon-fixed-width fa-star"></i> Badges</a></li>
        </ul>
        <div class="tab-content col-md-9">
          <div class="tab-pane" id="dashboard-scores">
            <div class="row">
              <div class="col-md-12 dashboard-scores-subject">
                <div class="score-overlay"></div>
                <div class="score-stats">
                  <h3 class="subject">You haven't taken a quiz yet. <%= link_to "Take a quiz now.", "#"  %></h3>
                </div>
              </div>



            </div>
          </div>
          <div class="tab-pane active" id="dashboard-per-topic">
            <div class="row">
              <div class="col-md-8">
                <h3 class="no-topic">You haven't taken a quiz yet! <%= link_to "Take a quiz now.", "#"  %></h3>
                <% subject = data.subjects[0] %>
                  <table class="table table-condensed blurred">
                    <thead>
                      <tr>
                        <td><h3 class='topic'><%= subject.name %></h3></td>
                        <td><p>Score</p></td>
                        <td><p>Progress</p></td>
                      </tr>
                    </thead>
                    <tbody>
                      <% subject.topics.each_with_index do |t, index|  %>
                      <% break if index == 5  %>
                        <tr>
                          <td><%= t.name %> </td>
                          <% r = Random.new
                          a = r.rand(0..2)
                        %>
                          <% case a
                            when 0 %>
                            <td>0/0  </td>
                            <td><span class="label label-default blurred">None</span></td>
                          <% when 1 %>
                            <td>10/10</td>
                            <td><span class="label  label-success blurred">Perfect</span></td>
                          <% when 2 %>
                            <td>3/6</td>
                            <td><span class="label label-info blurred">Okay</span></td>
                          <% end  %>

                        </tr>
                      <% end %>
                    </tbody>
                  </table>



              </div>
            </div>
          </div>
          <div class="tab-pane" id="c">
            <div class='row'>
              <div class="no-badges">
                <h3 class="text-center">You don't have any badges yet!</h3>
                <p class="text-center">Badges are prizes givent to bla bla bla...</p>
              </div>
              
              <div class="col-md-4 badge-thingie">
              <div class='badge-inside'>
                <%= image_tag "khan_badge_a.png", height: 48%>
                <p class='badge-title'>???</p>
                <p><%= link_to 'You can get this badge by liking our Facebook page.', "https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Ficpa.ph", target: "_blank" %></p>
              </div>
            </div>
            <div class="col-md-4 badge-thingie">
              <div class='badge-inside'>
                <%= image_tag "khan_badge_a.png", height: 48%>
                <p class='badge-title'>???</p>
                <p><%= link_to 'You can get this badge by inviting a friend over to join ICPA.', "https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Ficpa.ph", target: "_blank" %></p>
              </div>
            </div>
            <div class="col-md-4 badge-thingie">
              <div class='badge-inside'>
                <%= image_tag "khan_badge_b.png", height: 48%>
                <p class='badge-title'>???</p>
                <p><%= link_to 'You can get this badge by taking a quiz for 5 consecutive days. :)', "https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Ficpa.ph", target: "_blank" %></p>
              </div>
            </div>
              
              
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- end container -->