---
title: iCPA Your Accounting Study Buddy.
---

<div class="jumbotron">
  
  <div class="container">
    <div class="row">
      <div class="col-md-6">

      </div>
      <div class="col-md-5 col-md-offset-1">
        <div class="index-sign-up-form">
          <h3 class="tagline">I Can Pass Accounting!</h3>
          <h3 class="tagline">iCPA is your online accounting reviewer.</h3>
          <% form_tag '/', :class => 'signup-form', :method => 'post' do %>
            <div class="form-group" style="margin-bottom: 8px;">
              <%= text_field_tag :firstname, :id => "focus-this", :class => 'form-control index-sign-up-form-two-column', :placeholder => 'First Name' %>
              <%= text_field_tag :lastname, :class => 'form-control index-sign-up-form-two-column', :placeholder => 'Last Name' %>
            </div>
            <div class="form-group">
              <%= text_field_tag :school, :class => 'form-control', :placeholder => 'School' %>
            </div>
            <div class="form-group">
              <%= text_field_tag :username, :class => 'form-control', :placeholder => 'Username' %>
            </div>
            <div class="form-group">
              <%= text_field_tag :email_address, :class => 'form-control', :placeholder => 'Email' %>
            </div>
            <div class="form-group">
              <%= password_field_tag :password, :class => 'form-control', :placeholder => 'Password'%>
            </div>
            <%= link_to "Let's Get Started!", "#", :class => 'btn btn-success btn-lg',:id => "spinny", :style => "display: block; margin: 0 auto;" %>
  <%#*or <%= link_to 'Sign Up With Facebook', '/sign_up.html', :class => 'btn btn-primary btn-lg' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="jumbo-testimonials">
  <div class="container" id="container-main-with-owl">
    <div id="carousel-people" class="carousel slide">
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <div class="col-md-12">
            <p class="testimonial">&#8220Masaya sya, kasi parang naglalaro lang. Masaya sya, kasi parang naglalaro lang. Masaya sya, kasi parang naglalaro lang.&#8221</p>
            <p class="testimonial pull-right">Accounting Girl, UP Diliman, 1st Place, CPA Board Exam 2013</p>
          </div>
        </div>
        <div class="item">
          <div class="col-md-12">
            <p class="testimonial">&#8220iCPA is a useful quizzer at the comfort of my office table. My dashboard keeps me motivated to study every night.&#8221</p>
            <p class="testimonial pull-right">Raffy, Bacolod</p>
          </div>
        </div>
        <div class="item">
          <div class="col-md-12">
            <p class="testimonial">&#8220Because of iCPA, I have gained the necessary training to have the confidence to say "I can pass accounting!" I am now a CPA!&#8221</p>
            <p class="testimonial pull-right">Arlene, UP Diliman/Citibank, CPA 2013</p>
          </div>
        </div>
      </div>
      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-people" data-slide="prev"></a>
      <a class="right carousel-control" href="#carousel-people" data-slide="next"></a>
    </div> <!-- end carousel -->
    <hr/>
  </div> <!-- end container -->
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <h3 class="below-the-fold">News</h3>
      <% data.news.each do |n| %>
        <p class="school-text"><%= link_to n.name, "#" %></p>

      <% end %>
      <p class="school-text"><%= link_to "Read more...", "#" %></p>
    </div>
    <div class="col-xs-12 col-md-6">
      <h3 class="below-the-fold">Community</h3>
      <h3 class="below-the-fold typo">We have currently <strong>900 users</strong> 
        in <strong>199 schools</strong>
        in <strong>55 provinces</strong>.
        They have taken a total of <strong>7000 quizzes</strong>.</h3>
    </div>
  </div>
</div>

