---
title: Take Quiz
---

<div class="container">
  <div class="row quiz-options">
    <div class="col-md-9">
      <div class="quiz-item-body">
        <h3 class="quiz-number">Choose Quiz Options :)</h3>
        <%= image_tag 'quiz-selector.png', :class => "text-center, centered", :style => "margin-bottom: 1em;" %>
        <div id="slider" style="width: 50%; margin: 0 auto;"></div>
        <p>
        <div class='centered'>
          <label for="amount">Number of Items:</label>
          <input type="text" id="amount" style="border:0; color:#f6931f; font-weight:bold;">
          <%= link_to "Start", "", :class => "btn btn-primary btn-large text-center start-quiz" %>
        </div>
        

      </div>
    </div>
  </div>

  <div class="row quiz-take">
    <div class="col-md-9">
      <h1 class="quiz-number">Accounting Law</h1>
    </div>
    <div class="col-md-9">

      <div class="quiz-item-body">
        <h3 class="quiz-number">Question 1 <span class="pull-right reporter"> <%=  link_to "*", "#", class: "click-for-report" %></span></h3>
          <p class="quiz-item-question">
            Weng Company's cash account shows a balance of P4,500,000 before reconciliation. The bank statement does not include a deposit of P230,000 made on the last day of the month. The bank statement shows a collection by the bank of P94,000 and a customer's check for P32,000 was returned because it was NSF. A customer's check for P45,000 was recorded on the books as P54,000, and a check written for P7,900 was recorded as P9,700. What is the correct balance in the cash account? 
          </p>

          <label class="radio">
            <input id="question1_0" name="question1" type="radio" value="0">
            4,551,200<br>
          </label>
          <label class="radio">
            <input id="question1_1" name="question1" type="radio" value="1">
            4,554,800<br>
          </label>
          <label class="radio">
            <input id="question1_2" name="question1" type="radio" value="2">
            4,572,800<br>
          </label>
          <label class="radio">
            <input id="question1_3" name="question1" type="radio" value="3">
            4,784,800<br>
          </label>

        </div>
      </div>
      <div class="col-md-3 reported" id="report-question-1">
        <h3 class="quiz-number">Report Question 1</h3>
        <% form_tag '/',  :method => 'post' do %>
          <div class="form-group">
            <%= text_field_tag :email_address, :class => 'form-control', :placeholder => 'Subject' %>
          </div>
          <div class="form-group">
            <select>
              <option>Grammar Error</option>
              <option>Incomplete Question</option>
              <option>Incorrect Answer</option>
            </select>
          </div>

          <div class="form-group">
            <%= text_area_tag :message, :class => 'form-control', :placeholder => 'Your Message' %>
          </div>
          <%= link_to "Send Feedback to us :)", "#", :class => 'btn btn-success'%>
        <% end %>
      </div>
      <div class="col-md-9">
        <div class="quiz-item-body">
          <h3>Question 2</h3>


          <p class="quiz-item-question">Myrna Co had the following balances at December 31, 2013:</p>
          <table class="table table-condensed quiz-item-question-table">
            <tr>
              <td>Cash in Checking Account</td>
              <td>35,000</td>
            </tr>
            <tr>
              <td>Cash in Money Market Account</td>
              <td>75,000</td>
            </tr>
            <tr>
              <td>Treasury bills, purchased 1/1/12013, maturing 1/1/2014</td>
              <td>350,000</td>
            </tr>
            <tr>
              <td>Treasury bills, purchased 12/1/2013, maturing 3/31, 2014</td>
              <td>35,000</td>
            </tr>
          </table>
          <p>Myrna’s policy is to treat as cash equivalents all highly liquid investments with a maturity of 3 months or less when purchased. What amount should Myrna report as cash and cash equivalents in its December 31, 2013 balance sheet?</p>

          <label class="radio">
            <input id="question2_0" name="question2" type="radio" value="0">
            110,000<br>
          </label>
          <label class="radio">
            <input id="question2_1" name="question2" type="radio" value="1">
            385,000<br>
          </label>
          <label class="radio">
            <input id="question2_2" name="question2" type="radio" value="2">
            460,000<br>
          </label>
          <label class="radio">
            <input id="question2_3" name="question2" type="radio" value="3">
            860,000<br>
          </label>

        </div>
      </div>
      <div class="col-md-3 reported">
        <h3 class="quiz-number">Report Question 2</h3>
        <% form_tag '/',  :method => 'post' do %>
          <div class="form-group">
            <%= text_field_tag :email_address, :class => 'form-control', :placeholder => 'Subject' %>
          </div>
          <div class="form-group">
            <select>
              <option>Grammar Error</option>
              <option>Incomplete Question</option>
              <option>Incorrect Answer</option>
            </select>
          </div>

          <div class="form-group">
            <%= text_area_tag :message, :class => 'form-control', :placeholder => 'Your Message' %>
          </div>
          <%= link_to "Send Feedback to us :)", "#", :class => 'btn btn-success'%>
        <% end %>
      </div>

      <div class="col-md-9">

        <div class="quiz-item-body">
          <h3>Question 5</h3>
          <p class="quiz-item-question">
            Daina Company provided the following information with respect to its cash and cash equivalents on December 31, 2013:</p>
          <table class="table table-condensed quiz-item-question-table">
            <tr>
              <td>Checking account at First Bank</td>
              <td>(200,000)</td>
            </tr>
            <tr>
              <td>Checking account at Second Bank</td>
              <td>3,500,000</td>
            </tr>
            <tr>
              <td>Treasury Bonds</td>
              <td>1,000,000</td>
            </tr>
            <tr>
              <td>Payroll account</td>
              <td>500,000</td>
            </tr>
          </table>
          <p class="quiz-item-question">
            What amount should be reported as unrestricted cash on December 31, 2013?</p>
          <label class="radio">
            <input id="question5_0" name="question5" type="radio" value="0">
            5,900,000<br>
          </label>
          <label class="radio">
            <input id="question5_1" name="question5" type="radio" value="1">
            4,600,000<br>
          </label>
          <label class="radio">
            <input id="question5_2" name="question5" type="radio" value="2">
            4,900,000<br>
          </label>
          <label class="radio">
            <input id="question5_3" name="question5" type="radio" value="3">
            6,900,000<br>
          </label>
        </div>

        <div class="answer">
          <div class="spacer">
            <%= link_to "Submit Answers", "", :class => "btn btn-primary btn-large text-center submit-quiz" %>
            <%= link_to "Cancel Quiz", "#", :class => "btn btn-danger btn-large text-center" %>
          </div>
        </div>

      </div> <!-- end col md 9 -->
      <div class="col-md-12 congrats text-center">

        <h1>Congratulations! You got 3 out of 3!</h1>
        <%= image_tag "owly.png" %>
        <h3>Owly is very happy for you. :)</h3>

        <div class="post-actions">
          <div class="spacer">
            <%= link_to "Share the Awesome on Facebook", "#", :class => "btn btn-primary btn-large text-center" %>
            <%= link_to "Take Another Quiz!", "#", :class => "btn btn-danger btn-large text-center" %>
          </div>
        </div>

      </div>

      <div class="col-md-12 congrats text-center">

        <h1>You only got 0 out of 3. :(</h1>
        <%= image_tag "owly.png" %>
        <h3>No matter, you'll get the next one!</h3>

        <div class="post-actions">
          <div class="spacer">
            <%= link_to "Retake the Quiz!", "#", :class => "btn btn-danger btn-large text-center" %>
          </div>
        </div>

      </div>




    </div>
  </div>




