---
title: Sign Up for Your ICPA Account
---

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>Sign up for ICPA.</h1>
      <% form_tag '/', :class => 'signup-form', :method => 'post' do %>
        <div class="form-group">
          <%= label_tag :username %>
          <%= text_field_tag :username, :class => 'form-control' %>
        </div>
        <div class="form-group">
          <%= label_tag :email_address %>
          <%= text_field_tag :email_address, :class => 'form-control' %>
        </div>
        <div class="form-group">
          <%= label_tag :password, :class => 'first' %>
          <%= password_field_tag :password, :class => 'form-control'%>
        </div>
        <div class="form-group">
          <%= label_tag :confirm_password %>
          <%= password_field_tag :confirm_password, :class => 'form-control'%>
        </div>


        <% field_set_tag(:class => 'buttons') do %>
          <%= submit_tag "Remove" %>
        <% end %>
      <% end %>


    </div>
  </div>
</div> <!-- end container -->